@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-light{
    background-color: rgb(0,0,0,.1);
}
.custom-shadow{
    box-shadow: 0px 0px 5px;
}
.txt-shadow{
    text-shadow: 0px 1px gray;
}
.custom-overlay{
    background-color: rgb(0,0,0,.1);
}
